# Python
__pycache__/
*.py[cod]
*.so
.Python

# Virtual Environment
venv/
env/
ENV/

# Model files (quan trọng - tránh push file lớn)


# Data files


# Notebooks
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Output
transformer-32-feature/datasets/
*.npy
*.parquet
*.zip
*.pth
*.pt
